name: Update AWS Accounts in Markdown

on:
  push:
    branches:
      - main
  workflow_dispatch:
  
permissions:
  contents: 'write'
  id-token: write

jobs:
  update-aws-accounts:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Login to AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::098789448788:role/rgonzo-aws-accounts-github-Role-RkgjO4uXfipb
          aws-region: us-east-1  # Adjust region as needed

      - name: Retrieve AWS Account List in Table Format
        run: |
          markdown_file="accounts.md"
          
          # Retrieve accounts list directly from AWS CLI in text format
          accounts=$(aws organizations list-accounts --query "Accounts[*].{ID:Id,Name:Name}" --output text)
          
          # Check if accounts were retrieved
          if [[ -z "$accounts" ]]; then
            echo "No accounts found or command failed."
            exit 1
          fi
          
          # Write headers to the markdown file
          # Write headers to the markdown file
          echo "# ![AWS Logo](https://upload.wikimedia.org/wikipedia/commons/9/93/Amazon_Web_Services_Logo.svg) AWS Accounts" > $markdown_file
          echo "# <i class='fa fa-aws'></i> AWS Accounts" > $markdown_file
          echo "Here is the list of AWS accounts in the organization:" >> $markdown_file
          echo "" >> $markdown_file
          echo "| Account Name       | Account ID      |" >> $markdown_file
          echo "|--------------------|-----------------|" >> $markdown_file
          
          # Format the AWS accounts into a Markdown table
          echo "$accounts" | awk '{printf "| %-18s | %-15s |\n", $2, $1}' >> $markdown_file
# 
#       - name: Update Markdown Document
#         run: |
#           markdown_file="accounts.md"
#           
#           # Decode the accounts JSON from Base64
#           accounts=$(echo "${{ env.accounts }}" | base64 --decode)
#           
#           echo "# AWS Accounts" > $markdown_file
#           echo "Here is the list of AWS accounts in the organization:" >> $markdown_file
#           echo "" >> $markdown_file
#           
#           # Append each account to the markdown file
#           echo "$accounts" | jq -r '.[] | "* \(.Name) (\(.ID))"' >> $markdown_file
#           
      - name: Debug - List Files After Generation
        run: |
          echo "Listing Root folder"
          ls -la          

      - name: Configure Git
        run: |
          git config --global user.name 'github-actions'
          git config --global user.email 'github-actions@github.com'
  
      - name: Commit Changes
        run: |
          git add accounts.md
          git commit -m "List of AWS Accounts"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
