name: Update AWS Accounts in Markdown

on:
  push:
    branches:
      - main
  workflow_dispatch:
  
permissions:
  contents: 'write'
  id-token: write

jobs:
  update-aws-accounts:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Login to AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::098789448788:role/rgonzo-aws-accounts-github-Role-RkgjO4uXfipb
          aws-region: us-east-1  # Adjust region as needed

      - name: Retrieve AWS Account List in Table Format
        run: |
          markdown_file="accounts.md"

          # Retrieve accounts and their associated OU information
          accounts=$(aws organizations list-accounts --query "Accounts[*].{OU:ParentId,ID:Id,Name:Name}" --output text)

          # Check if accounts were retrieved
          if [[ -z "$accounts" ]]; then
            echo "No accounts found or command failed."
            exit 1
          fi

          # Write headers to the markdown file
          echo "# <img src='https://upload.wikimedia.org/wikipedia/commons/9/93/Amazon_Web_Services_Logo.svg' width='30' height='30'> AWS Accounts" > $markdown_file
          echo "Here is the list of AWS accounts in the organization, grouped by Organizational Unit (OU):" >> $markdown_file
          echo "" >> $markdown_file

          # Group and write accounts by Organizational Unit
          echo "$accounts" | awk '
          {
            # Extract Organizational Unit (OU) name or ID
            ouName = $1;
            
            # If a new OU is encountered, print a header
            if (ouName != currentOU) {
              if (currentOU != "") { print "" } # Add a blank line between OUs
              currentOU = ouName;
              printf "## Organizational Unit: %s\n\n", currentOU;
              printf "| Account Name       | Account ID      |\n";
              printf "|--------------------|-----------------|\n";
            }
            
            # Print the account details
            printf "| %-18s | %-15s |\n", $3, $2;
          }' >> $markdown_file

          # Add a date-time stamp at the bottom of the markdown file
          echo "" >> $markdown_file
          echo "*Report generated on $(date)*" >> $markdown_file


      - name: Debug - List Files After Generation
        run: |
          echo "Listing Root folder"
          ls -la          

      - name: Configure Git
        run: |
          git config --global user.name 'github-actions'
          git config --global user.email 'github-actions@github.com'
  
      - name: Commit Changes
        run: |
          git add accounts.md
          git commit -m "List of AWS Accounts"
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
